body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 380px;
  background: #ffffff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}


form h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* input & textarea */
input,
textarea {
  width: 93%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

input:focus,
textarea:focus {
  border-color: #4caf50;
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.4);
}

/* textare */
textarea {
  resize: none;
  height: 90px;
}

/* button */
button {
  width: 100%;
  padding: 12px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #43a047;
}

/* Succe */
.success {
  margin-top: 15px;
  padding: 10px;
  background: #eafaf1;
  color: #2e7d32;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}
